{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Admin User</title>
</head>
<body>
<div id="right" class="col-auto">
      <a href="/userlogin/">Logout</a>
      <!-- <button type="submit" class="btn btn-primary mb-2" value="logout">logout</button> -->
    </div>
<h1>Add User</h1>

<form action="/adduser/" method="post">
<!--<button onclick="myfunction()"> ADD</button>-->
<!--<div class="plus show-hide">-->
    {% if error %}
    {{ error }}
    {% endif %}
    {% csrf_token %}
        <table style="width:100%" id="add">
          <tr>
              <th>Name</th>
              <th>Password</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Area</th>
              <th>State</th>
              <th>City</th>
          </tr>
          <tr>
              <td><input type="text" name="username" /></td>
              <td><input type="password" name="password" /></td>
              <td><input type="email" name="email" /></td>
              <td><input type="number" name="pnumber" /></td>
              <td><input type="text" name="area" /></td>
              <td><input type="text" name="state" /></td>
              <td><input type="text" name="city" /></td>
          </tr>
            </tr>
            <tr>
            <td> <input type="submit" value="Submit" align="right"/>
            </td>
            </tr>
        </table>
    </form>
<div class="center">
    <h2 style="text-align:center">User Details</h2>
    <table style="border-collapse: collapse;">
        <tr>
              <th>Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Area</th>
              <th>State</th>
              <th>City</th>
                <th></th>
                <th></th>
          </tr>
        {% for userdt in userdata %}
            <tr>
            <td>{{userdt.user.username}}</td>
            <td>{{userdt.user.email}}</td>
            <td>{{userdt.phonenumber}}</td>
            <td>{{userdt.area}}</td>
            <td>{{userdt.state}}</td>
            <td>{{userdt.city}}</td>
            <th><a href="/updateuser/{{userdt.user.id}}/">Edit</a></th></tr>
            <th><a href="/deleteuser/{{userdt.user.id}}/">Delete</a></th></tr>
        {% endfor %}
    
    </table>
    </div>
<!--</div>-->
<!--<script type="text/javascript">-->
  <!--$('.show-hide').click(function() {-->
  <!--$(".show-hide").show();-->
  <!--$(this).hide();-->
<!--});-->
<!--</script>-->
</body>
</html>